.body {
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color:#FFFFFF
}


/* HEADER */
.header {

}
.header-nav {

}
.header-logo-link {

}
.header-logo-text {

}
.header-list {

    

}
.header-item-list {

}
.header-nav_link:hover,
.header-nav_link:focus {
color:#404BBF ;
}

.header-address {

}
.header-mail:hover,
.header-mail:focus {
color: #404BBF;
}
.header-tel {

}
/*HERO*/




.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

/* SLATE */

    color: #434455;
}
.contacts-list {

    
}
.list {

}
.contacts-item {

}
.contacts-link {
 
}
.link {

}